dev/pug/lk.pug
doctype
html
    head
        title ЛК
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="./css/lk.css")
    body
        .layout__booking
            .layout__title Ваши бронирования
            .info__block
                .layout__text.layout__text-bold  Данных о бронировании объектов не найдено
                .layout__link Выберите и забронируйте квартиру или паркинг на сайте
            .feedback
                .feedback__title Отдел продаж
                .feedback__location
                    .icon__wrapper
                        img(src="img/lk/location.svg")
                    | ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
                .phone__wrapper
                    .icon__wrapper
                        img(src="img/lk/phone.svg")
                    | +7 812 245 31 12
                    .feedback__button.popup__show(data-anchor="#feedback-form") Заказать звонок
            .layout__title Ваши бронирования
            .card__section
                .card__wrapper
                    .card__title Студия № 258
                        .card__subtitle 17 корпус, 18 этаж
                        .finishing__type
                            .text__wrapper с отделкой
                    .card__img
                        img(src="img/lk/plan.png")
                    .card__row
                        .card__cell
                            .card__label срок сдачи
                            .card__text IV кв. 2023 г.
                        .card__cell.card__cell-floor
                            .card__label этаж
                            .card__text 18
                        .card__cell.card__cell-corp
                            .card__label корпус
                            .card__text 17
                        .card__cell
                            .card__label площадь
                            .card__text 20,52 м
                        .card__cell.card__cell-price
                            .card__label цена покупки
                            .card__text 3 563 219 ₽
                        .card__cell
                            .card__label в ипотеку
                            .card__text от 17 784 ₽/мес
                    .deleted__button
                        img(src="img/lk/deleted.svg")
                .period__wrapper
                    .icon__wrapper
                        img(src="img/lk/locked.svg")
                    div
                        | Забронировано до
                        span.text__date  20.09.2021
                        | включительно
            .feedback
                .feedback__title Отдел продаж
                .feedback__location
                    .icon__wrapper
                        img(src="img/lk/location.svg")
                    | ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
                .phone__wrapper
                    .icon__wrapper
                        img(src="img/lk/phone.svg")
                    | +7 812 245 31 12
                    .feedback__button.popup__show(data-anchor="#feedback-form") Заказать звонок
            .digital__mortgage.digital__mortgage-frame
                .title__wrapper Цифровая ипотека
                .text__wrapper Отправить анкету в банки
                .img__bg
                    img(src="img/lk/percent.svg")
        .popup__wrapper#feedback-form
            .popup__bg
            .popup__body
                .popup__close(data-anchor="#feedback-form")
                    img(src="img/lk/close.svg" alt="")
                form.feedback__wrapper
                    .popup__title Заказ обратного звонка
                    .input__wrapper
                        input(type="text" name="feedback-phone" placeholder="0000000")
                    label
                        input(type="checkbox")
                        span.popup__link Выберите дату и время для звонка
                        span.popup__link Позвонить сейчас
                    .flex__wrapper
                        .input__wrapper
                            input(type="text")
                        .input__wrapper
                            input(type="text")
                    input(type="button" class="button__wrapper popup__show" data-anchor="#feedback-send" value="Заказать звонок")
        .popup__wrapper#feedback-send
            .popup__bg
            .popup__body
                .popup__close(data-anchor="#feedback-send")
                    img(src="img/lk/close.svg" alt="")
                .popup__title Спасибо за обращение!
                .text__wrapper Мы Вам перезвоним
                .img__wrapper
                    img(src="#")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/lk/script.js")

public/lk.html
<!DOCTYPE html>
<html>
  <head>
    <title>ЛК</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/lk.css">
  </head>
  <body>
    <div class="layout__booking">
      <div class="layout__title">Ваши бронирования</div>
      <div class="info__block">
        <div class="layout__text layout__text-bold"> Данных о бронировании объектов не найдено</div>
        <div class="layout__link">Выберите и забронируйте квартиру или паркинг на сайте</div>
      </div>
      <div class="feedback">
        <div class="feedback__title">Отдел продаж</div>
        <div class="feedback__location">
          <div class="icon__wrapper"><img src="img/lk/location.svg"></div>ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
        </div>
        <div class="phone__wrapper">
          <div class="icon__wrapper"><img src="img/lk/phone.svg"></div>+7 812 245 31 12
          <div class="feedback__button popup__show" data-anchor="#feedback-form">Заказать звонок</div>
        </div>
      </div>
      <div class="layout__title">Ваши бронирования</div>
      <div class="card__section">
        <div class="card__wrapper">
          <div class="card__title">Студия № 258
            <div class="card__subtitle">17 корпус, 18 этаж</div>
            <div class="finishing__type">
              <div class="text__wrapper">с отделкой</div>
            </div>
          </div>
          <div class="card__img"><img src="img/lk/plan.png"></div>
          <div class="card__row">
            <div class="card__cell">
              <div class="card__label">срок сдачи</div>
              <div class="card__text">IV кв. 2023 г.</div>
            </div>
            <div class="card__cell card__cell-floor">
              <div class="card__label">этаж</div>
              <div class="card__text">18</div>
            </div>
            <div class="card__cell card__cell-corp">
              <div class="card__label">корпус</div>
              <div class="card__text">17</div>
            </div>
            <div class="card__cell">
              <div class="card__label">площадь</div>
              <div class="card__text">20,52 м</div>
            </div>
            <div class="card__cell card__cell-price">
              <div class="card__label">цена покупки</div>
              <div class="card__text">3 563 219 ₽</div>
            </div>
            <div class="card__cell">
              <div class="card__label">в ипотеку</div>
              <div class="card__text">от 17 784 ₽/мес</div>
            </div>
          </div>
          <div class="deleted__button"><img src="img/lk/deleted.svg"></div>
        </div>
        <div class="period__wrapper">
          <div class="icon__wrapper"><img src="img/lk/locked.svg"></div>
          <div>Забронировано до<span class="text__date"> 20.09.2021</span>включительно</div>
        </div>
      </div>
      <div class="feedback">
        <div class="feedback__title">Отдел продаж</div>
        <div class="feedback__location">
          <div class="icon__wrapper"><img src="img/lk/location.svg"></div>ул. Оптиков, д. 4, корпус 2, БЦ Лахта 1
        </div>
        <div class="phone__wrapper">
          <div class="icon__wrapper"><img src="img/lk/phone.svg"></div>+7 812 245 31 12
          <div class="feedback__button popup__show" data-anchor="#feedback-form">Заказать звонок</div>
        </div>
      </div>
      <div class="digital__mortgage digital__mortgage-frame">
        <div class="title__wrapper">Цифровая ипотека</div>
        <div class="text__wrapper">Отправить анкету в банки</div>
        <div class="img__bg"><img src="img/lk/percent.svg"></div>
      </div>
    </div>
    <div class="popup__wrapper" id="feedback-form">
      <div class="popup__bg"></div>
      <div class="popup__body">
        <div class="popup__close" data-anchor="#feedback-form"><img src="img/lk/close.svg" alt=""></div>
        <form class="feedback__wrapper">
          <div class="popup__title">Заказ обратного звонка</div>
          <div class="input__wrapper">
            <input type="text" name="feedback-phone" placeholder="0000000">
          </div>
          <label>
            <input type="checkbox"><span class="popup__link">Выберите дату и время для звонка</span><span class="popup__link">Позвонить сейчас</span>
          </label>
          <div class="flex__wrapper">
            <div class="input__wrapper">
              <input type="text">
            </div>
            <div class="input__wrapper">
              <input type="text">
            </div>
          </div>
          <input class="button__wrapper popup__show" type="button" data-anchor="#feedback-send" value="Заказать звонок">
        </form>
      </div>
    </div>
    <div class="popup__wrapper" id="feedback-send">
      <div class="popup__bg"></div>
      <div class="popup__body">
        <div class="popup__close" data-anchor="#feedback-send"><img src="img/lk/close.svg" alt=""></div>
        <div class="popup__title">Спасибо за обращение!</div>
        <div class="text__wrapper">Мы Вам перезвоним</div>
        <div class="img__wrapper"><img src="#"></div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/lk/script.js"></script>
  </body>
</html>
